body{
  margin: 0;
}
.tnav{
  height: 80px;
  width: 100%;
  background-color: #65BFFF;
}
.profile{
  cursor: pointer;

  height: 80px;
  width: 80px;
  float: right;
  background-image: url("user.png");
  background-size: cover;
  
} 
.navt{
  font-family: nahidhk;
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 40px;
  color: #FFFFFF;
}
.prof{
display: none;
  position: absolute;
  top: 80px;
  background-color: white;
  color: black;
  box-shadow: 0.1px 0 5px 0.7px black;
  height: 560px;
  width: 290px;
  border-radius: 10px;
  right: 0;
}
user{
  font-size: 28px;
  text-align: left;
}

.email{
    cursor: pointer;

  padding: 10px;
  background-color: #D0D0D0;
  border: 1px solid black;
  width: 250px;
  position: relative;
  left: 10px;
  border-radius: 8px;
}
.utxt{
  font-size: 25px;
}
.main{
  height: 22px;
  width: 40px;
  background-color: #0077FF;
  color: white;
  border: none;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.getio{
  font-size: 16px;
  color: #575757;
}
@font-face {
  font-family: nahidhk;
  src: url("user.ttf");
}